*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #EEEEEE;
}

.first_bac{
    width: 100%;
    height: 650px;
    background-image: url('./img/first_slide.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
    background-color: aqua;
}

.container{
    width: 1200px;
    height: fit-content;
    margin: 50px auto;
    padding: 20px;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.titles{
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.title_p1{
    color: #EEEEEE;
    font-size: 13px;
}

.title_p2{
    color: white;
    font-size: 15px;
}

.first_slide_main{
    width: 560px;
    height: 500px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first_slide_main h1{
    font-size: 40px;
    color: #02303F;
    font-weight: bold;
}

.cattegories{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.category{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percentege{
    font-size: 35px;
    font-weight: bold;
    color: #02303F;
    width: 250px;
}

.cat_left, .cat_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}

.perc_txt{
    font-size: 16px;
    color: #02303F;
    text-align: right;
}

.btn_cat{
    width: 250px;
    height: 55px;
    background-color: #1BB2DE;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: -50px;
    transition: .1s ease;
    cursor: pointer;
}

.btn_cat:hover{
    background-color: #60d4f8;
}

.sec_main_p{
    font-size: 40px;
    color: #676767;
    margin-top:60px;
}

.sec_main_p span{
    color: #1BB2DE;
}

.second_slide{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.grids{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid{
    margin-top: 60px;
    width: 350px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.grid_txt{
    font-size: 21px;
    color: #02303F;
    padding: 20px;
}

.grid_prices{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left_txt{
    color: #929292;
    font-size: 14px;
    margin-bottom: 10px;
}

.right_txt{
    color: #1BB2DE;
    font-size: 14px;
    margin-bottom: 10px;
}

.grid_btn{
    height: 70px;
    background-color: #1BB2DE;
    color: white;
    font-size: 15px;
    transition: .1s ease;
    cursor: pointer;
    border: none;
    margin-top: 30px;
}

.grid_btn:hover{
    background-color: #60d4f8;
}

.second_form{
    width: 100%;
    height: 355px;
    background-color: #1BB2DE;
    color: white;
    background-image: url('./img/lines.png');
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    top: 100px;
    padding: 30px;
}

.right_bac{
    width: 415px;
    height: 345px;
    position: absolute;
    top: 10px;
    right: 60px;
    background-image: url('./img/windows.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec_form_txt{
    font-size: 25px;
    margin-top: 20px;
}

.sec_form{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 300px;
    margin-top: 20px;
}

.inp_name{
    width: 433px;
    height: 55px;
    font-size: 17px;
    color: #8D8D8D;
    padding: 17px;
    border: 1px solid rgb(213, 211, 211);
    margin-top: 8px;
}

.inp_btn{
    width: 290px;
    height: 55px;
    background-color: #02303F;
    color: white;
    font-size: 15px;
    border: none;
    transition: 0.1s ease;
    cursor: pointer;
    margin-top: 20px;
}

.inp_btn:hover{
    background-color: #043b4e;
}

.section_under_form{
    width: 100%;
    height: 500px;
    position: relative;
    top: 200px;
}

.form_bot_bac{
    height: 500px;
    width: 1000px;
    background-image: url('./img/builders.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -200px;
}

.under_txt{
    width: 350px;
    height: fit-content;
    position: absolute;
    top: 120px;
    right: 0;
    display: flex;
    flex-direction: column;
}

.main_step_txt{
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 300px;
}

.main_step_txt span{
    color: #1BB2DE;
}

.step_top{
    color: #1BB2DE;
    font-size: 25px;
}

.step_bot{
    color: #676767;
    font-size: 15px;
    margin-top: 6px;
}

.two{
    top: 250px;
    right: 60px;
}

.three{
    top: 360px;
    right: 100px;
}

.windows{
    width: 100%;
    height: 190px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 250px;
    box-shadow: 5px 5px 20px rgb(195, 192, 192);
    padding: 20px;
}

.wondows_txt{
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.wondows_txt::before{
    content: '  1  ';
    width: 25px;
    height: 30px;
    background-color: #1BB2DE;
    color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.chose_sixe{
    width: 490px;
    height: 295px;
    background-color: white;
    box-shadow: 3px 3px 20px rgb(213, 211, 211);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.w1_type{
    margin-top: 30px;
}

.type_of_glass{
    width: 635px;
    height: 245px;
    background-color: white;
    box-shadow: 3px 3px 20px rgb(213, 211, 211);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.sun_snow{
    width: 500px;
    height: fit-content;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_txt_sun{
    width: 180px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.temerature{
    font-size: 16px;
    font-weight: 300;
    margin-top: 17px;
}

.type_of_window{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.more_options{
    width: 635px;
    height: 285px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
}

.options{
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px auto;
}

.option{
    width: 230px;
    height: 60px;
}

.opt_txt{
    font-size: 16px;
    font-weight: 400;
}

.finaly_cost{
    width: 260px;
    height: 150px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.cost_txt{
    font-size: 22px;
}

.cost_txt span{
    color: #1BB2DE;
}

.cost_btn{
    width: 250px;
    height: 50px;
    background-color: #1BB2DE;
    color: white;
    border: none;
    transition: .1s ease;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.cost_btn:hover{
    background-color: #60d4f8;
}

.example_of_works{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.example{
    width: 540px;
    height: 370px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 40px;
}

.example_img{
    width: 540px;
    height: 280px;
}

.ex_descrip{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.name_txt{
    font-size: 19px;
    margin-bottom: 6px;
}

.city_txt{
    color: #B8B8B8;
    font-size: 15px;
    margin-bottom: 6px;
}

.amount_txt{
    font-size: 22px;
}

.price_of_ex{
   text-align: right;
}

.txt_of_work{
    font-size: 40px;
    margin-left: 20px;
}

.recalls{
    margin-top: 150px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.top_of_recalls{
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recalls_txt{
    margin: 0;
}

.recalls_arrows{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow{
    width: 50px;
    height: 50px;
    border: 2px solid #1BB2DE;
    display: flex;
    align-items: center;
    padding: 15px;
}

.cust_img{
    width: 100px;
}

.right_arrow{
    transform: rotate(180deg);
}

.recal{
    width: 560px;
    height: 330px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.custmers_img{
    width: 100px;
    height: 200px;
    margin: 30px 30px 0 0;
}

.descrip_of_rec{
    width: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.name_of_cust, .city_of_cust{
    font-size: 23px;
}

.city_of_cust{
    color: #1BB2DE;
    margin-top: 10px;
}

.descrip_cust{
    color:#AAAAAA;
    font-size: 20px;
    margin-top: 20px;
}

.all_recalls{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.third_slide{
    width: 100%;
    height: 450px;
    position: relative;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
}

.third_bac{
    width: 850px;
    height: 450px;
    background-image: url('./img/Rectangle\ 29.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -140px;
    z-index: -2;
    opacity: .8;
}

.third_slide_side{
    width: 450px;
    height: 360px;
    margin-top: 60px;
}

.third_txt{
    font-size: 41px;
    color: #1BB2DE;
}

.third_small_txt{
    font-size: 17px;
    color: #444444;
    margin-top: 30px;
}

.sides{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third_right{
    margin-left: 50px;
    width: 350px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comp{
    width: 60px;
}

.third_desc{
    width: 160px;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.comp_f_txt{
    font-size: 20px;
    margin-top: 18px;
}

.comp_s_txt{
    color: #878787;
    font-size: 16px;
    margin-top: 8px;
}